:root {
    --primary-color:#002395;
    --secondary-color:#007a4d;
    --white-color:#fff;
    --off-white-color:#f8f9fa;
    --body-color:#212529;
    --x-social-color:#575757;
}
body {
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--off-white-color);
}
.offcanvas-logo {
    width: 60px;
    padding:0 !important;
    margin-right: 10px;
}
.offcanvas.offcanvas-start {
    transition: all 0.4s ease-in-out;
}
.logo {
    margin-top: -45px;
    margin-bottom: 15px;
    z-index: 1;
    position: relative;
}
.carousel-item img {
    height: auto;
}
.green-side {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 50px;
    background-color: var(--secondary-color);
}

.custom-title {
    border-left: 7px solid var(--secondary-color);
    padding-left: 15px;
    font-size: 1.5rem;
    margin: 15px 0px 20px 0px;
}
.inner-title {
    font-size: 2vw;
    line-height: 1.5;
    padding: 70px 0px 0px 35px;
}
section.bg-white.p-3.border.shadow-sm.printable {
    border-bottom: 10px solid var(--primary-color) !important;
    border-top: 10px solid var(--secondary-color) !important;
}
/* Overrides */


.navbar-toggler-icon {
    position: relative;
    bottom: 0;
    left: 0;
    filter: invert(1) drop-shadow(2px 2px 1px var(--body-color));
}
.btn-outline-primary {
    border-color: var(--primary-color);
    color: var(--primary-color)
}
.btn-outline-primary:hover {
    border-color: var(--primary-color);
    background: var(--primary-color);
}
.btn-primary {
    border-color: var(--primary-color);
    background: var(--primary-color);
}
.btn-primary:hover {
    background: var(--secondary-color);
    border-color: var(--secondary-color);
}
.text-bg-dark {
    background: var(--secondary-color) !important;
}
.bg-dark {
    background-color: var(--primary-color) !important;
    color: var(--white-color) !important;
}
nav.navbar.navbar-dark.bg-dark.navbar-expand-md.p-0 {
    position: relative;
    margin-top: -40px;
}
nav.navbar.navbar-dark.bg-dark.navbar-expand-md.p-0 .container {
    position: absolute;
    z-index: 999;
    top: 20px;
    width: 100%;
    right: 0;
    left: 0;
}
.nav-link {
    color: var(--white-color);
}

.dropdown-menu.show {
    margin:0;
    padding:0;
}
.dropdown-divider {
    margin:1px;
}

a.dropdown-item.text-light {
    padding: 10px;
}
.custom-link-contact a {
    color: var(--body-color);
    text-decoration: none;
}
.custom-link-contact a:hover i {
    color: var(--primary-color);
}
.custom-link-contact a i {
    color: var(--secondary-color)
}

.nav-link:hover,
.nav-link.active {
    border-bottom: 2px solid;
}

.navbar-toggler {
    border-color: transparent;
    position: absolute;
    bottom: 46px;
    left: 0;
}
.badge {
    font-size: 1rem;
}

.dropdown-menu-dark {
    background: var(--primary-color);
    border-radius: 0px;
    box-shadow: none;
    border-color: var(--primary-color);
}

.carousel-control-next, .carousel-control-prev {
    width:100px;
}
.carousel-indicators .active {
    background-color: var(--secondary-color);
}

/* END 
Overrides */

h4.button-media-title {
    display: inline-block;
    color: var(--white-color);
    text-decoration: none;
    position: absolute;
    top: 40px;
    right: 30px;
}
p.button-media-action {
    display: inline-block;
    color: var(--white-color);
    position: absolute;
    top: 70px;
    right: 10px;
}
a.button-media.button-media-facebook {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    background: #3e74bd;
}
a.button-media.button-media-facebook i.fa-facebook-f {
    margin: 0px 14px;
    color: #6e97ce;
    margin-bottom: 0px;
    font-size: 7rem;
    margin-left: -30px;
    margin-top: 10px;
}

a.button-media.button-media-twitter {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    background: var(--body-color);
}
a.button-media.button-media-twitter i.fa-x-twitter{
    margin: 0px 14px;
    color: var(--x-social-color);
    font-size: 6rem;
    margin-left: -3px;
    margin-top: 31px;
    margin-bottom: -5px;
}

a.button-media.button-media-instagram {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}
a.button-media.button-media-instagram i.fa-instagram {
    margin: 0px 14px;
    color: var(--white-color);
    margin-bottom: 0px;
    font-size: 7rem;
    margin-left: -30px;
    margin-top: 10px;
}

a.button-media.button-media-tiktok {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    background: var(--body-color);
}

a.button-media.button-media-tiktok i.fa-tiktok {
    margin: 0px 14px;
    color: var(--white-color);
    font-size: 6rem;
    margin-left: -3px;
    margin-top: 31px;
    margin-bottom: -5px;
}

a.mx-2.text-light.py-3:hover {
    text-shadow: 0px 2px 4px var(--body-color);
}

a.nav-link.text-light.py-3.px-4.active {
    background-color: var(--secondary-color);
}

footer i.fa-wheelchair,
footer i.fa-envelope {
    font-size: 2rem;
    color: var(--secondary-color);
    width: 100%;
}

footer a {
    color: var(--secondary-color);
    text-transform: none;
}
footer a:hover {
    color: var(--primary-color)
}
footer .badge.rounded-pill.text-bg-primary.text-center {
    border-radius: 0 !important;
    width: 38px;
    height: 38px;
    background-color: var(--primary-color) !important;
    text-align: center !important;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    float: left;
    margin-right: 0.5rem;
    align-items: center;
    text-decoration: none;
}
footer .badge.rounded-pill.text-bg-primary.text-center:hover {
    background-color: var(--secondary-color) !important;
}
footer .badge.rounded-pill.text-bg-primary.text-center a {
    color: var(--white-color);
}

.btn-outline-success {
    border-color: var(--secondary-color);
}
.btn-outline-success:hover {
    background: var(--secondary-color);
    border-color: var(--secondary-color)
}
.parallax {
    position: relative;
    background: var(--secondary-color);
    overflow: hidden;
}
.parallax.about-us {
    background: var(--body-color) url('https://sawheelchairs.co.za/images/slider-1.jpg') no-repeat top left/cover;
}
.parallax.contact-us {
    background: var(--body-color) url('https://sawheelchairs.co.za/images/slider-2.jpg') no-repeat top left/cover;
}
.parallax.manual-wheelchairs {
    background: var(--body-color) url('../images/products/manual-wheelchairs/hero-image.jpg') no-repeat center center/cover;
    background-position: 0px 50%;
}
.fa-square-check {
    color: var(--primary-color);
  }

.parallax .container-fluid {
    position: relative;
    z-index: 1;
    color: white;
    padding: 110px 0 100px;
    text-align: center;
}

span.btn.btn-outline-primary.text-start.btn-lg.rounded-0.text-uppercase {
    cursor: auto;
    border-color:#dddddd;
    background-color: var(--white-color);
    color:#9b9b9b;
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem;
}
span.btn.btn-outline-primary.text-start.btn-lg.rounded-0.text-uppercase:hover {
    background-color: #f5f5f5;
}
cite.h1 {
    font-style: normal;
    font-size: 1.2rem;
}

.blockquote-footer {
    font-size: 2rem;
    line-height: 1.5rem;
}

.about-info-timeline-item {
    position: relative;
}
.about-info-timeline-item::before {
    position: absolute;
    left: 15px;
    top: -10px;
    height: 10px;
    content: '';
    border-left: 1px solid #e1e1e1;
    pointer-events: none;
}

.about-info-timeline-item-header {
    position: relative;
    display: flex;
    align-items: flex-start;
}
.timeline-counter {
    position: relative;
    display: inline-block;
    min-width: 70px;
    margin-right: 10px;
    padding: 1px 25px 1px 10px;
    color: #151515;
    overflow: hidden;
    border-left: 1px solid #e1e1e1;
    z-index: 2;
}
.timeline-counter::before {
    position: absolute;
    top: 0;
    right: 3px;
    left: -6px;
    bottom: 0;
    content: '';
    border: 1px solid #e1e1e1;
    transform: skewX(-10deg);
    z-index: -1;
    pointer-events: none;
}

.about-info-timeline-item-header h5,
h5.custom-font {
    font-size: 18px;
    line-height: 1.22222;
    letter-spacing: 0.025em;
    text-transform: uppercase;
}

.about-info-timeline-item-text {
    padding-left: 30px;
}

* + .about-info-timeline-item-text {
    margin-top: 20px;
}
.about-info-timeline-item::after {
    position: absolute;
    left: 15px;
    top: 25px;
    bottom: -30px;
    content: '';
    border-left: 1px solid #e1e1e1;
    pointer-events: none;
}








/* Scroll Out */

.scroll-reveal {
    transition: transform 0.5s, opacity 0.5s;
    overflow: hidden;
}

.scroll-reveal.left{
    transform: translateX(-200px);
    opacity: 0;
    overflow: hidden;
}
.scroll-reveal.right{
    transform: translateX(200px);
    opacity: 0;
    overflow: hidden;
}
.scroll-reveal.bottom{
    transform: translateY(200px) scaleX(3);
    opacity: 0;
    overflow: hidden;
}
.scroll-reveal.active{
    transform: translateX(0);
    opacity: 1;
    overflow: hidden;
}


@media (min-width: 576px) {
    .w-sm-auto {
        width: auto !important;
    }
}


@media (max-width:767px) {
    .logo {
        margin-bottom: 5px;
        max-width: 100%;
    }
    .our-products .row .col-sm-6 .card.mb-3 .row.g-0 .col-4 {
        align-content: flex-start !important;
    }
    .our-products .row .col-sm-6 .card.mb-3 .row.g-0 .col-7 .card-body .card-text.user-select-all {
        display: none;
        visibility: hidden;
    }
    .scroll-reveal {
        transition: none;
    }
    .scroll-reveal.left,
    .scroll-reveal.right,
    .scroll-reveal.bottom{
        transform: translateX(0);
        opacity: 1;
    }
    nav.navbar.navbar-dark.bg-dark.navbar-expand-md.p-0 {
        margin-top:-20px;
    }
    #print {
        display: none;
    }
}


@media (max-width:576px) {
    .new {
        width: 90%;
        display: inline-block;
        text-align: left;
        margin-top: 15px;
    }
    .col-1.new {
        width: 10%;
    }
    .inner-title {
        font-size: 5vw;
    }
    .justify-content-center-sm {
        justify-content: center;
        display: flex;
    }
    .carousel-caption {
        left: 0;
        right: 0;
    }
    .carousel-caption h1 {
        font-size: 5vw;
    }
    .carousel-caption h2 {
        font-size: 3vw;
    }
}

@media print {
    body {
        padding:0;
        margin:0;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
    }
    .container {
        max-width: 100% !important;
    }
    #no-print,
    .no-print_button,
    h2.text-uppercase.custom-title {
        display: none;
    }
    .parallax .container-fluid {
        padding: 10px 0 10px;
    }

    .printable {
        position: absolute;
        top: 0;
        left: 0;
    }
}